# Terraform
.terraform/
*.tfstate
*.tfstate.backup
#*.tfvars
#*.tfvars.json
override.tf
override.tf.json
_override.tf
_override.tf.json
.terraform.lock.hcl

# Environment
.env
.secrets.env

# SSH Keys
*.pem
